<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<array>
			<string>所有题名</string>
			<string>著/作者</string>
			<string>标准号（ISBN或ISSN）</string>
			<string>主题词</string>
			<string>分类号</string>
		</array>
		<array>
			<string>title</string>
			<string>author</string>
			<string>number</string>
			<string>subject_term</string>
			<string>call_no</string>
		</array>
	</array>
	<array>
		<array>
			<string>模糊匹配</string>
			<string>前向匹配</string>
			<string>精确匹配</string>
		</array>
		<array>
			<string>mh</string>
			<string>qx</string>
			<string>jq</string>
		</array>
	</array>
	<array>
		<array>
			<string>中文图书</string>
			<string>西文图书</string>
			<string>日文图书</string>
			<string>俄文图书</string>
			<string>中文期刊</string>
			<string>西文期刊</string>
			<string>日文期刊</string>
			<string>俄文期刊</string>
			<string>中文报纸</string>
			<string>西文报纸</string>
			<string>数据库</string>
			<string>年鉴</string>
			<string>全部</string>
		</array>
		<array>
			<string>01</string>
			<string>02</string>
			<string>03</string>
			<string>04</string>
			<string>11</string>
			<string>12</string>
			<string>13</string>
			<string>14</string>
			<string>c1</string>
			<string>e1</string>
			<string>s1</string>
			<string>z1</string>
			<string>all</string>
		</array>
	</array>
	<array>
		<array>
			<string>全部分馆</string>
			<string>A.西安邮电学院图书馆</string>
			<string>B.虚拟馆</string>
		</array>
		<array>
			<string>all</string>
			<string>A</string>
			<string>B</string>
		</array>
	</array>
	<array>
		<array>
			<string>按书名排序</string>
			<string>按作者排序</string>
			<string>按出版社排序</string>
			<string>按标准号排序</string>
			<string>按出版年排序</string>
		</array>
		<array>
			<string>title</string>
			<string>authors</string>
			<string>publisher</string>
			<string>isn</string>
			<string>pubdate_date</string>
		</array>
	</array>
	<array>
		<array>
			<string>顺序</string>
			<string>逆序</string>
		</array>
		<array>
			<string>asc</string>
			<string>desc</string>
		</array>
	</array>
</array>
</plist>
